## Table of Contents

### 1. Importing Libaries
### 2. Importing Data
### 3. Additional Data Cleaning
### 4. Exporting New Dataset

### 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

### 2. Importing Data

In [2]:
path = r'/Users/lianabulte/Career Foundry/2023 Boat Sales Analysis'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'clean_boat_data.csv'))

### 3. Additional Data Cleaning

#### Cleaning up the Location column:

In [4]:
df.head(10)

,Unnamed: 0,Boat Type,Manufacturer,Boat Condition,Year Built,Length,Width,Material,Location,Views from last 7 days,Currency,Cost
0,0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Not Disclosed,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3337
1,1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490
2,3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Not Disclosed,Denmark Â» Svendborg,64,DKK,25900
3,4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399
4,6,Catamaran,Not Disclosed,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,Switzerland Â» Neuenburgersee Â» Yvonand,474,CHF,3600
5,8,Fishing Boat,Crescent power boats,new boat from stock,2019,3.64,1.37,Not Disclosed,Germany Â» Bayern Â» Boote+service Oberbayern,45,EUR,3333
6,9,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.35,1.73,Not Disclosed,Italy Â» Dormelletto,180,EUR,3300
7,10,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,Switzerland Â» Seengen,239,CHF,3500
8,12,Sport Boat,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,Italy Â» Lake Garda Â» Moniga del Garda (BS),69,EUR,3500
9,13,Runabout,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,Switzerland Â» Zugersee Â» Neuheim,113,CHF,4600

In [5]:
df.shape

(9246, 12)

In [6]:
# creating new columns 'country' and 'city'
df[['Country','City']]= df['Location'].str.split('Â»', 1, expand=True)
df[['City','Other']]= df['City'].str.split('Â»', 1, expand=True)
df['City']=df['City'].str.replace('¶','',regex=True)
df['City']=df['City'].str.replace('Ã','',regex=True)
df = df.drop(['Location', 'Other'],axis=1)

In [7]:
df.head(10)

,Unnamed: 0,Boat Type,Manufacturer,Boat Condition,Year Built,Length,Width,Material,Views from last 7 days,Currency,Cost,Country,City
0,0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Not Disclosed,226,CHF,3337,Switzerland,Lake Geneva
1,1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,EUR,3490,Germany,Bnningstedt
2,3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Not Disclosed,64,DKK,25900,Denmark,Svendborg
3,4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,EUR,3399,Germany,Bayern
4,6,Catamaran,Not Disclosed,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,474,CHF,3600,Switzerland,Neuenburgersee
5,8,Fishing Boat,Crescent power boats,new boat from stock,2019,3.64,1.37,Not Disclosed,45,EUR,3333,Germany,Bayern
6,9,Pontoon Boat,Whaly power boats,new boat from stock,2018,4.35,1.73,Not Disclosed,180,EUR,3300,Italy,Dormelletto
7,10,Fishing Boat,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,239,CHF,3500,Switzerland,Seengen
8,12,Sport Boat,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,69,EUR,3500,Italy,Lake Garda
9,13,Runabout,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,113,CHF,4600,Switzerland,Zugersee

In [8]:
#checking for missing values in new country column
df['Country'].value_counts(dropna = False)

Italy                            1612
Germany                          1545
France                           1066
Switzerland                       980
Netherlands                       923
                                 ...
Donau                               1
Adria                               1
Ireland                             1
Neustadt in Holstein (Ostsee)       1
Thun                                1
Name: Country, Length: 136, dtype: int64

In [9]:
#checking for missing values in new city column
df['City'].value_counts(dropna = False)

None                  842
 In verkoophaven      283
 Mallorca             229
 Lake Constance       211
 Toscana              191
                     ...
 Menorca                1
 Genua                  1
 Nord Italien           1
 La Spezia, Italie      1
 Pllau                  1
Name: City, Length: 1866, dtype: int64

#### Cleaning up the Cost column:

In [10]:
#renaming Cost and Currency column to 'Original Price' and 'Original Currency'
df.rename(columns = {'Cost': 'Orig Price', 'Currency':'Orig Currency'}, inplace = True)

In [11]:
#veryfing changes were updated
df.columns

Index(['Unnamed: 0', 'Boat Type', 'Manufacturer', 'Boat Condition',
       'Year Built', 'Length', 'Width', 'Material', 'Views from last 7 days',
       'Orig Currency', 'Orig Price', 'Country', 'City'],
      dtype='object')

#### Converting Multi Currencies to all be in Euros:

In [12]:
#checking for values in original currency column
df['Orig Currency'].value_counts(dropna = False)

EUR    7924
CHF     861
Â£      287
DKK     174
Name: Orig Currency, dtype: int64

In [13]:
# updating 'Â£' to display 'GBP'
df['Orig Currency']= df['Orig Currency'].replace('Â£', 'GBP')

In [14]:
# verifying it worked
df['Orig Currency'].value_counts(dropna = False)

EUR    7924
CHF     861
GBP     287
DKK     174
Name: Orig Currency, dtype: int64

In [15]:
#creating data dictionary with FX rates to euros
fx_dict = {'EUR': 1, 'CHF': 1.02, 'GBP': 1.13, 'DKK': 0.13}

In [16]:
#creating new fx column and calculating all prices in Euros
df['FX Euro Rate'] = df['Orig Currency'].map(fx_dict)
df['Price in Euros'] = (df['Orig Price'] * df['FX Euro Rate'])

In [17]:
#checking updated columns
df.head()

,Unnamed: 0,Boat Type,Manufacturer,Boat Condition,Year Built,Length,Width,Material,Views from last 7 days,Orig Currency,Orig Price,Country,City,FX Euro Rate,Price in Euros
0,0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Not Disclosed,226,CHF,3337,Switzerland,Lake Geneva,1.02,3403.74
1,1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,EUR,3490,Germany,Bnningstedt,1.00,3490.00
2,3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Not Disclosed,64,DKK,25900,Denmark,Svendborg,0.13,3367.00
3,4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,EUR,3399,Germany,Bayern,1.00,3399.00
4,6,Catamaran,Not Disclosed,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,474,CHF,3600,Switzerland,Neuenburgersee,1.02,3672.00

In [18]:
#dropping FX rates
df.drop(columns=['FX Euro Rate'], inplace=True)

In [19]:
#Drop the extra index and resetting index
df = df.reset_index(drop = True)
df = df.drop(columns = 'Unnamed: 0')

In [20]:
#verifying final dataset
df.head()

,Boat Type,Manufacturer,Boat Condition,Year Built,Length,Width,Material,Views from last 7 days,Orig Currency,Orig Price,Country,City,Price in Euros
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Not Disclosed,226,CHF,3337,Switzerland,Lake Geneva,3403.74
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,EUR,3490,Germany,Bnningstedt,3490.00
2,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Not Disclosed,64,DKK,25900,Denmark,Svendborg,3367.00
3,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,EUR,3399,Germany,Bayern,3399.00
4,Catamaran,Not Disclosed,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,474,CHF,3600,Switzerland,Neuenburgersee,3672.00

In [21]:
df.shape

(9246, 13)

In [22]:
df.dtypes

Boat Type                  object
Manufacturer               object
Boat Condition             object
Year Built                  int64
Length                    float64
Width                     float64
Material                   object
Views from last 7 days      int64
Orig Currency              object
Orig Price                  int64
Country                    object
City                       object
Price in Euros            float64
dtype: object

### 4.Exporting v2 of cleaned dataset

In [23]:
#exporting cleaned data set
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'clean_boat_data_v2.csv'))