# Table of Contents
### 1. Importing Libraries
### 2. Importing Data
### 3. Data Cleaning - Additional
### 4. Exporting Data Set

## 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 2. Importing Data

In [2]:
path = r'/Users/lianabulte/Career Foundry/2023 Boat Sales Analysis'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'clean_boat_data_v2.csv'))

## 3. Data Cleaning - Additional

#### Separating Columns:

In [4]:
df.head()

,Unnamed: 0,Boat Type,Manufacturer,Boat Condition,Year Built,Length,Width,Material,Views from last 7 days,Orig Currency,Orig Price,Country,City,Price in Euros
0,0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Not Disclosed,226,CHF,3337,Switzerland,Lake Geneva,3403.74
1,1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,EUR,3490,Germany,Bnningstedt,3490.00
2,2,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,Not Disclosed,64,DKK,25900,Denmark,Svendborg,3367.00
3,3,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,EUR,3399,Germany,Bayern,3399.00
4,4,Catamaran,Not Disclosed,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,474,CHF,3600,Switzerland,Neuenburgersee,3672.00

In [5]:
df = df.drop(columns = 'Unnamed: 0')

#### Seperating the Boat type column:

In [6]:
#checking for values in boat type column
df['Boat Type'].value_counts(dropna = False)

Motor Yacht                        2578
Sport Boat                         1260
Flybridge                          1169
Trawler                             659
Pilothouse                          564
                                   ...
Bowrider,Motor Yacht,Sport Boat       1
Classic,Motor Yacht,Sport Boat        1
Bowrider,Cabin Boat,Deck Boat         1
Motor Yacht,Wakeboard/Wakesurf        1
Classic,Runabout,Trawler              1
Name: Boat Type, Length: 125, dtype: int64

In [7]:
# creating new columns 'Boat Class' and 'Boat Subclass'
df[['Boat Class','Boat Subclass']]= df['Boat Type'].str.split(',', 1, expand=True)
df[['Boat Subclass','Other']]= df['Boat Subclass'].str.split(',', 1, expand=True)
df['Boat Subclass']=df['Boat Subclass'].str.replace('/','',regex=True)
df = df.drop(['Boat Type', 'Other'],axis=1)

In [8]:
df.head(15)

,Manufacturer,Boat Condition,Year Built,Length,Width,Material,Views from last 7 days,Orig Currency,Orig Price,Country,City,Price in Euros,Boat Class,Boat Subclass
0,Rigiflex power boats,new boat from stock,2017,4.00,1.90,Not Disclosed,226,CHF,3337,Switzerland,Lake Geneva,3403.74,Motor Yacht,None
1,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,EUR,3490,Germany,Bnningstedt,3490.00,Center console boat,None
2,Pioner power boats,new boat from stock,2020,3.00,1.00,Not Disclosed,64,DKK,25900,Denmark,Svendborg,3367.00,Sport Boat,None
3,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,EUR,3399,Germany,Bayern,3399.00,Fishing Boat,None
4,Not Disclosed,"Used boat,Unleaded",1999,6.20,2.38,Aluminium,474,CHF,3600,Switzerland,Neuenburgersee,3672.00,Catamaran,None
5,Crescent power boats,new boat from stock,2019,3.64,1.37,Not Disclosed,45,EUR,3333,Germany,Bayern,3333.00,Fishing Boat,None
6,Whaly power boats,new boat from stock,2018,4.35,1.73,Not Disclosed,180,EUR,3300,Italy,Dormelletto,3300.00,Pontoon Boat,None
7,Terhi power boats,"Used boat,Electric",1987,4.35,1.75,GRP,239,CHF,3500,Switzerland,Seengen,3570.00,Fishing Boat,None
8,GS Nautica power boats,Used boat,2004,4.70,2.00,GRP,69,EUR,3500,Italy,Lake Garda,3500.00,Sport Boat,None
9,Kimple power boats,new boat from stock,2020,4.40,1.65,Aluminium,113,CHF,4600,Switzerland,Zugersee,4692.00,Runabout,None
10,Italmarine power boats,"Used boat,Unleaded",1997,3.72,1.33,Aluminium,413,CHF,4500,Switzerland,Vierwaldst¤ttersee,4590.00,Fishing Boat,None
11,Not Disclosed,Used boat,1985,4.00,1.00,Not Disclosed,124,DKK,30000,Denmark,Svendborg,3900.00,Sport Boat,None
12,BÃ©nÃ©teau power boats,"Used boat,Diesel",1981,8.00,2.84,PVC,265,EUR,4000,France,"MARTGUES, MARTIGUES",4000.00,Pilothouse,None
13,Not Disclosed,"Used boat,Unleaded",2011,6.37,2.31,GRP,330,EUR,4000,Germany,Bayern,4000.00,Cabin Boat,None
14,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,69,EUR,3999,Germany,Bayern,3999.00,Fishing Boat,None

In [9]:
#checking values in boat class column
df['Boat Class'].value_counts(dropna = False)

Motor Yacht            2594
Sport Boat             1270
Flybridge              1177
Trawler                 659
Cabin Boat              576
Pilothouse              565
Hardtop                 506
Center console boat     356
Bowrider                276
Deck Boat               250
Classic                 197
Fishing Boat            156
House Boat              132
Mega Yacht               99
Pontoon Boat             90
Runabout                 74
Wakeboard/Wakesurf       55
Launch                   53
Offshore Boat            53
Working Boat             39
Passenger boat           35
Catamaran                22
Water ski                 8
Motorsailer               2
Ketch                     1
RIB                       1
Name: Boat Class, dtype: int64

In [10]:
#checking values in boat subclass column
df['Boat Subclass'].value_counts(dropna = False)

None                   8959
Motor Yacht              62
Runabout                 61
Sport Boat               51
Classic                  18
Flybridge                14
Trawler                  11
WakeboardWakesurf         9
Hardtop                   8
House Boat                8
Fishing Boat              8
Pilothouse                6
Deck Boat                 6
Launch                    5
Pontoon Boat              5
Water ski                 5
Working Boat              4
Mega Yacht                2
Motorsailer               1
Cabin Boat                1
Center console boat       1
Passenger boat            1
Name: Boat Subclass, dtype: int64

There isn't enough data to make this column worth keeping, upon review the boat subclass will be removed

In [11]:
#dropping boat subclass column
df.drop(columns=['Boat Subclass'], inplace=True)

In [12]:
df.columns

Index(['Manufacturer', 'Boat Condition', 'Year Built', 'Length', 'Width',
       'Material', 'Views from last 7 days', 'Orig Currency', 'Orig Price',
       'Country', 'City', 'Price in Euros', 'Boat Class'],
      dtype='object')

#### Seperating the Boat Condition Column:

In [14]:
# creating new columns 'Boat Status' and 'Boat Fuel Type'
df[['Boat Status','Boat Fuel Type']]= df['Boat Condition'].str.split(',', 1, expand=True)
df = df.drop(['Boat Condition'],axis=1)

In [15]:
df.head(15)

,Manufacturer,Year Built,Length,Width,Material,Views from last 7 days,Orig Currency,Orig Price,Country,City,Price in Euros,Boat Class,Boat Status,Boat Fuel Type
0,Rigiflex power boats,2017,4.00,1.90,Not Disclosed,226,CHF,3337,Switzerland,Lake Geneva,3403.74,Motor Yacht,new boat from stock,None
1,Terhi power boats,2020,4.00,1.50,Thermoplastic,75,EUR,3490,Germany,Bnningstedt,3490.00,Center console boat,new boat from stock,None
2,Pioner power boats,2020,3.00,1.00,Not Disclosed,64,DKK,25900,Denmark,Svendborg,3367.00,Sport Boat,new boat from stock,None
3,Linder power boats,2019,3.55,1.46,Aluminium,58,EUR,3399,Germany,Bayern,3399.00,Fishing Boat,new boat from stock,None
4,Not Disclosed,1999,6.20,2.38,Aluminium,474,CHF,3600,Switzerland,Neuenburgersee,3672.00,Catamaran,Used boat,Unleaded
5,Crescent power boats,2019,3.64,1.37,Not Disclosed,45,EUR,3333,Germany,Bayern,3333.00,Fishing Boat,new boat from stock,None
6,Whaly power boats,2018,4.35,1.73,Not Disclosed,180,EUR,3300,Italy,Dormelletto,3300.00,Pontoon Boat,new boat from stock,None
7,Terhi power boats,1987,4.35,1.75,GRP,239,CHF,3500,Switzerland,Seengen,3570.00,Fishing Boat,Used boat,Electric
8,GS Nautica power boats,2004,4.70,2.00,GRP,69,EUR,3500,Italy,Lake Garda,3500.00,Sport Boat,Used boat,None
9,Kimple power boats,2020,4.40,1.65,Aluminium,113,CHF,4600,Switzerland,Zugersee,4692.00,Runabout,new boat from stock,None
10,Italmarine power boats,1997,3.72,1.33,Aluminium,413,CHF,4500,Switzerland,Vierwaldst¤ttersee,4590.00,Fishing Boat,Used boat,Unleaded
11,Not Disclosed,1985,4.00,1.00,Not Disclosed,124,DKK,30000,Denmark,Svendborg,3900.00,Sport Boat,Used boat,None
12,BÃ©nÃ©teau power boats,1981,8.00,2.84,PVC,265,EUR,4000,France,"MARTGUES, MARTIGUES",4000.00,Pilothouse,Used boat,Diesel
13,Not Disclosed,2011,6.37,2.31,GRP,330,EUR,4000,Germany,Bayern,4000.00,Cabin Boat,Used boat,Unleaded
14,Linder power boats,2019,3.55,1.46,Aluminium,69,EUR,3999,Germany,Bayern,3999.00,Fishing Boat,new boat from stock,None

In [16]:
#checking values in boat status column
df['Boat Status'].value_counts(dropna = False)

Used boat              7158
new boat from stock    1652
new boat on order       239
Display Model           113
Diesel                   57
Unleaded                 21
Not Disclosed             5
Electric                  1
Name: Boat Status, dtype: int64

Updating the diesel, unleaded, and electric rows to be 'Not Disclosed'

In [20]:
# updating value in boat status column
df['Boat Status'] = df['Boat Status'].replace(['Diesel','Unleaded','Electric'],['Not Disclosed','Not Disclosed','Not Disclosed'])

In [21]:
#checking values in boat status column
df['Boat Status'].value_counts(dropna = False)

Used boat              7158
new boat from stock    1652
new boat on order       239
Display Model           113
Not Disclosed            84
Name: Boat Status, dtype: int64

In [22]:
#checking values in boat fuel type column
df['Boat Fuel Type'].value_counts(dropna = False)

Diesel      4362
Unleaded    2711
None        2111
Electric      46
Gas           13
Hybrid         2
Propane        1
Name: Boat Fuel Type, dtype: int64

Updating 'none' valued to 'Not Disclosed'

In [25]:
# updating value in boat fuel type column
df['Boat Fuel Type'] = df['Boat Fuel Type'].fillna('Not Disclosed')

In [26]:
#checking values in boat fuel type column
df['Boat Fuel Type'].value_counts(dropna = False)

Diesel           4362
Unleaded         2711
Not Disclosed    2111
Electric           46
Gas                13
Hybrid              2
Propane             1
Name: Boat Fuel Type, dtype: int64

In [27]:
df.head(15)

,Manufacturer,Year Built,Length,Width,Material,Views from last 7 days,Orig Currency,Orig Price,Country,City,Price in Euros,Boat Class,Boat Status,Boat Fuel Type
0,Rigiflex power boats,2017,4.00,1.90,Not Disclosed,226,CHF,3337,Switzerland,Lake Geneva,3403.74,Motor Yacht,new boat from stock,Not Disclosed
1,Terhi power boats,2020,4.00,1.50,Thermoplastic,75,EUR,3490,Germany,Bnningstedt,3490.00,Center console boat,new boat from stock,Not Disclosed
2,Pioner power boats,2020,3.00,1.00,Not Disclosed,64,DKK,25900,Denmark,Svendborg,3367.00,Sport Boat,new boat from stock,Not Disclosed
3,Linder power boats,2019,3.55,1.46,Aluminium,58,EUR,3399,Germany,Bayern,3399.00,Fishing Boat,new boat from stock,Not Disclosed
4,Not Disclosed,1999,6.20,2.38,Aluminium,474,CHF,3600,Switzerland,Neuenburgersee,3672.00,Catamaran,Used boat,Unleaded
5,Crescent power boats,2019,3.64,1.37,Not Disclosed,45,EUR,3333,Germany,Bayern,3333.00,Fishing Boat,new boat from stock,Not Disclosed
6,Whaly power boats,2018,4.35,1.73,Not Disclosed,180,EUR,3300,Italy,Dormelletto,3300.00,Pontoon Boat,new boat from stock,Not Disclosed
7,Terhi power boats,1987,4.35,1.75,GRP,239,CHF,3500,Switzerland,Seengen,3570.00,Fishing Boat,Used boat,Electric
8,GS Nautica power boats,2004,4.70,2.00,GRP,69,EUR,3500,Italy,Lake Garda,3500.00,Sport Boat,Used boat,Not Disclosed
9,Kimple power boats,2020,4.40,1.65,Aluminium,113,CHF,4600,Switzerland,Zugersee,4692.00,Runabout,new boat from stock,Not Disclosed
10,Italmarine power boats,1997,3.72,1.33,Aluminium,413,CHF,4500,Switzerland,Vierwaldst¤ttersee,4590.00,Fishing Boat,Used boat,Unleaded
11,Not Disclosed,1985,4.00,1.00,Not Disclosed,124,DKK,30000,Denmark,Svendborg,3900.00,Sport Boat,Used boat,Not Disclosed
12,BÃ©nÃ©teau power boats,1981,8.00,2.84,PVC,265,EUR,4000,France,"MARTGUES, MARTIGUES",4000.00,Pilothouse,Used boat,Diesel
13,Not Disclosed,2011,6.37,2.31,GRP,330,EUR,4000,Germany,Bayern,4000.00,Cabin Boat,Used boat,Unleaded
14,Linder power boats,2019,3.55,1.46,Aluminium,69,EUR,3999,Germany,Bayern,3999.00,Fishing Boat,new boat from stock,Not Disclosed

### Reviewing Remaining Columns

In [28]:
# Check for missing values
df.isnull().sum()

Manufacturer                0
Year Built                  0
Length                      0
Width                       0
Material                    0
Views from last 7 days      0
Orig Currency               0
Orig Price                  0
Country                     0
City                      842
Price in Euros              0
Boat Class                  0
Boat Status                 0
Boat Fuel Type              0
dtype: int64

In [29]:
#dropping null city values
df=df.dropna()

In [30]:
# Check for missing values
df.isnull().sum()

Manufacturer              0
Year Built                0
Length                    0
Width                     0
Material                  0
Views from last 7 days    0
Orig Currency             0
Orig Price                0
Country                   0
City                      0
Price in Euros            0
Boat Class                0
Boat Status               0
Boat Fuel Type            0
dtype: int64

In [31]:
df.shape

(8404, 14)

In [32]:
# Checking for mixed type data
for col in df.columns.tolist():
      weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (df[weird]) > 0:
        print (col)

no columns with mixed data

In [33]:
# updating country column to remove any rows with numeric variables
df['Country'] = df['Country'].apply(lambda x: pd.to_numeric(x, errors = 'ignore'))

In [34]:
# re-checking values in country column
df['Country'].value_counts(dropna = False)

Italy                           1612
Germany                         1545
France                          1066
Switzerland                      980
Netherlands                      923
Spain                            669
Croatia (Hrvatska)               560
United Kingdom                   205
Denmark                          167
Portugal                         131
Austria                           77
Turkey                            61
Belgium                           58
Malta                             54
Greece                            48
Poland                            38
Finland                           34
Slovenia                          30
United Arab Emirates              16
Montenegro                        15
Sweden                            13
Lake Constance                     9
Slovak Republic                    9
Lake Geneva                        7
Russian Federation                 7
Monaco                             7
Estonia                            6
Cyprus                             5
Lithuania                          5
United States                      5
Hungary                            4
Czech Republic                     4
Bulgaria                           3
Donau                              3
Australia                          2
Ostsee                             2
Thailand                           2
Latvia                             2
Ukraine                            2
Martinique                         2
Norway                             2
French Southern Territories        1
Seychelles                         1
Romania                            1
Isle of Man                        1
Lebanon                            1
Morocco                            1
Ireland                            1
Venezuela                          1
Luxembourg                         1
Taiwan                             1
Oder                               1
Serbia                             1
Egypt                              1
Lago Maggiore                      1
Name: Country, dtype: int64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8404 entries, 0 to 9245
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Manufacturer            8404 non-null   object
 1   Year Built              8404 non-null   int64
 2   Length                  8404 non-null   float64
 3   Width                   8404 non-null   float64
 4   Material                8404 non-null   object
 5   Views from last 7 days  8404 non-null   int64
 6   Orig Currency           8404 non-null   object
 7   Orig Price              8404 non-null   int64
 8   Country                 8404 non-null   object
 9   City                    8404 non-null   object
 10  Price in Euros          8404 non-null   float64
 11  Boat Class              8404 non-null   object
 12  Boat Status             8404 non-null   object
 13  Boat Fuel Type          8404 non-null   object
dtypes: float64(3), int64(3), object(8)
memory usage: 984.8+ KB

In [36]:
df.shape

(8404, 14)

## 4. Exporting Data set

In [37]:
#exporting cleaned data set
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'clean_boat_data_v3.csv'))